@model TrashCollector_Proj.Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Today's Pickup</h1>
<div>
    <h4>Customers</h4>
    <hr />

    <table class="table-bordered">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ZipCode)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.DayOfWeekPickUp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OneTimePickupDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SuspendPickupDates)
                </th>

                <th></th>
            </tr>
        </thead>
        

    </table>
</div>
<div>
    <a asp-action="Details">View Profile</a>
</div>
